

@media (max-width: 768px){} 
    
body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color:  rgba(31, 195, 236, 0.829);
}


video {
    width: 75%;
    padding-left: 25%;
}

iframe {
    margin: 2rem;
    width: 80%;

}
img {
    width: 100%;
    
}

.secciones {
    margin: 0 10%;
    padding: 1rem;
    color: #000000;

}

button {margin-left:1rem;
    font-weight: bold;

}

label {
    font-size: 1.5rem;
    margin-left: 2rem;
}

h4{
    font-family:"Verdana", Tahoma, sans-serif;
    font-weight: bold;
}


h2, h3,h5{
    padding: 1.5rem;
    margin: 1rem;
    font-size: 4rem;
    font-family:'Times New Roman', serif;
    color: #000000;
}

p1{
    font-size: 16px;
    margin-right: 10px;
    color: #000000;
    font-weight: bold;
}

header {
    background-color: #081320;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header img {
    width: 150px;
}

header ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

header a {
    text-decoration:none;
    color: #ffffff
}

.fa-instagram, .fa-facebook, .fa-tiktok {
    color: #000000;
}


/* Productos */
.productos {
    align-items: center;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
}

.producto {
    background-color: #e0e0e0b7;
    width: 320px;
    height: 380px;
    border: 3px solid rgba(0, 0, 0, 0.185);
    border-radius: 25px;
    align-items: center;
    
  
}

.producto-contenido {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px
    ;
}

.producto img {
    border-radius: 25px 25px 0 0;
    height: 18rem;
    background-color: rgb(255, 255, 255);
}

/* Resenias */

.resenias{
    display: flex;
    gap: 3rem;
    place-items: center;
    padding: 0.5rem;
}

.card {
    background-color: #F5F5F5;
    border-radius: 10px;
    color: #6F8191;
    position: relative;
    margin-top: -2rem;
    width: 19rem;
    padding: 4rem 4rem;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px #7515f3;
    transition: transform 0.3s ease-out;
}

.card:hover {
    transform: translateY(-10px)
}

.card img {
    position: absolute;
    top: 0.5rem;
    height: 7rem;
    width: 7rem;
    border-radius: 35px;
}

.card-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}

.card-nombre {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1rem;
    color: #000000;
    margin-top: 2rem;
}

.card .fa-solid {
    color: rgb(255, 217, 0);
}

.card-fecha {
    font-size: 1.3rem;
    color: #000000;
}

.card-content p {
    color: #000000;
    font-style: italic;
    font-size: 1.8rem;
}